<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 Access denied</title>
</head>
<body>
<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>404</h1>
		</div>
		<h2>Oops! Access denied</h2>
		<p>Access denied</p>
		<a th:href="@{/user/product-list}">Go To Homepage</a>
	</div>
</div>
</body>
</html>