<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bill Management</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{../../css/all.css}"/>
    <link rel="stylesheet" th:href="@{../../css/style.css}" type="text/css"/>

</head>
<body>

<div th:replace="header :: header">...</div>

<div class="content container-fluid">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-3">
            <div class="input-group">
                <form class="input-group" th:action="@{/admin/report}">
                <select id="select-month" name="m" class="form-control">
                    <option value="none">
                        <script>
                            var currentYear = (new Date).getFullYear();
                            document.write(currentYear);
                        </script>
                    </option>
                    <option value="01">Month 1</option>
                    <option value="02">Month 2</option>
                    <option value="03">Month 3</option>
                    <option value="04">Month 4</option>
                    <option value="05">Month 5</option>
                    <option value="06">Month 6</option>
                    <option value="07">Month 7</option>
                    <option value="08">Month 8</option>
                    <option value="09">Month 9</option>
                    <option value="10">Month 10</option>
                    <option value="11">Month 11</option>
                    <option value="12">Month 12</option>
                </select>
                <div class="input-group-btn" id="export" style="display:none">
                    <button id="btn-search2" class="btn btn-default form-control" type="submit"><i class="fas fa-file-export"></i></button>
                </div>
                </form>
            </div>
        </div>
        <br/>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr class="text-center">
                    <th class="text-center">Product ID</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">BillId</th>
                    <th class="text-center">Month</th>
                    <th class="text-center">Year</th>
                </tr>
                </thead>
                <tbody id="statistical-body" class="text-center">
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Import JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>
<script th:src="@{@{../../js/all.js}}"></script>
<script th:src="@{@{../../js/statistical.js}}"></script>
</body>

</html>